@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Kumbh+Sans:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* { 
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

.page-gradient {
  min-height: 100vh;
  place-items: center;
  background: linear-gradient(135deg, rgba(176, 104, 233, 1), rgba(100, 99, 231, 1));
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.faq-card {
  max-width: 100%;
  background: rgba(255, 255, 255, 1);
  border-radius: 16px;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.25);
  z-index: 1;
  margin: -100px 24px 85px 24px;
}

.mainPhoto {
  width: 237px;          
  height: auto;
  z-index: 3;
  margin-top: 40px;
  position: absolute;
}
.underPhoto {
  width: 240px;          
  height: auto;
  z-index: 2;
  margin-top: 147px;
}

.faq-content {
  padding: 132px 24px 48px 24px;
}

.faq-title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 38px;
}



.faq-question {
  background: transparent;
  border: 0;
  display: flex;
  justify-content: space-between;
  color: rgba(75, 76, 95, 1);
  border-bottom: 1px solid rgba(232, 232, 234, 1); 
}

.faq-question p {
  font-size: 13px;
  font-weight: 400;
  line-height: 100%;
  margin: 10px 43px 15px 1px;
}

.faq-question .faq-icon {
  margin: 0;
  padding-top: -7px;
}

.faq-question:hover p { 
  font-weight: 700;
  line-height: 16px;
  color: rgba(30, 31, 54, 1); 
  margin-right: 28px;
  text-align: left;
}

.faq-answer {
  font-size: 13px;
  font-weight: 400;
  line-height: 100%;
  background: transparent;
  border: 0;
  display: flex;
  color: rgba(120, 120, 135, 1);
  padding-top: 12px;
  padding-bottom: 16px;
  padding-right: 30px;
}

@media (min-width: 900px) {
  *{
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
  }
  .page-gradient {
    min-height: 100vh;
  }

  .faq-card{
    position: relative; /* base layer */
    width: 920px;
    height: 509px;
    margin-top: 129px;
    z-index: 1;
  }

  .underPhoto {
    position: absolute;
    width: 964px;
    height: auto;
    right: 771px;
    top: 211px;
    z-index: 2;
  }

  .mainPhoto{
    position: absolute;
    width: 472px;
    height: auto;
    right: 771px;
    top: 200px; 
    z-index: 3; 
  }

  .faq-content {
    margin: 0;
    padding: 0;
    margin-left: 475px;
    margin-top: 65px;
    margin-right: 95px;
  }

  .faq-title {
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 43px;
  }

  .faq-question{
    width: 100%;
    margin-bottom: 16px;
  }

  .faq-question p{
    font-size: 14px;
    margin: 2px 96px 19px 1px;
  }

  .faq-question:hover p { 
    font-weight: 700;
    line-height: 16px;
    color: rgba(30, 31, 54, 1); 
    margin-right: 28px;
    padding-bottom: 0;
  }

  .faq-answer{
    margin-top: 0;
    padding: 11px, 16px, 30px, 1px;
  }

}

